:root {
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
  --pink: #e31d65;
  --orange: #fe4432;
  --mint: #9fedd7;
  --yellow: #ffc12d;
  --dark-blue: #151019;
}

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  /* background: url(./photos/myProfilePic.jpeg); */
  background: #151019;
  background-repeat: no-repeat;
  background-size: 1600px 1000px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: #fff;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

footer {
  height: 40vh;
  width: 100%;
}

.section-title {
  font-size: 4rem;
  background: var(--orange);
  width: 800px;
  padding: 20px 0 20px 400px;
  margin-bottom: 60px;
}

.resume-section-title {
  font-size: 4rem;
  position: absolute;
  background: var(--orange);
  width: 800px;
  padding: 20px 200px 20px 100px;
  margin-bottom: 60px;
  right: 0;
}

.logo {
  width: 200px;
  background: white;
  height: 100%;
  justify-content: flex-end;
  padding: 1rem 2rem;
  pointer-events: none;
}

.nav-container {
  display: flex;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: row;
}

.contact-item {
  margin: 0 20px;
}

header {
  display: flex;
  width: 100%;
  position: absolute;
}

main {
  height: auto;
  width: 100%;
  display: grid;
}

/* This is an element within and element selector */
.nav-link {
  height: 10%;
  color: white;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  background: transparent;
  padding: 18px 0 18px;
  margin: 0 25px;
  text-decoration: none;
}

nav {
  position: absolute;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 0 0 5rem;
}

nav > ul,
li {
  list-style-type: none !important;
}

aside {
  position: absolute;
  top: 200px;
  right: 20px;
  z-index: 10;
}

aside > .nav-menu {
  justify-content: space-between;
  flex-direction: row-reverse;
}

aside > .nav-menu > a > .nav-link {
  padding: 25px 0;
  margin: 0 30px;
  text-align: center;
  background: white;
  border: 2px solid #151019;
  height: 100%;
  width: 100%;
  color: #151019;
  font-size: 0.8rem;
}

aside > .nav-menu > a > .nav-link:nth-child(1) {
  border-radius: 5px 5px 0 0;
}
aside > .nav-menu > a > .nav-link:nth-child(2) {
  border-radius: 0 0 0;
}

.aside {
  width: 40px;
  height: 4vh;
  position: fixed;
  transition: all 0.3s ease;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  opacity: 0;
}

.is-visible {
  opacity: 1;
}


/* This is an ID selector */
#profile-pic {
  width: 60%;
  height: auto;
  margin: 0 auto;
  grid-column: 2/3;
}

.title {
  color: white;
  font-size: 2.5rem;
  margin: 0;
}

p {
  font-size: 1rem;
  font-weight: 600;
}

.small-text {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 95%;
  left: 90%;
}

button {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  border: none;
  background: transparent;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  top: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: white;
}

nav {
  top: 0;
  left: 0;
  width: calc(100% - 100px);
  z-index: 3;
  display: flex;

  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  /* padding: 0 3rem; */
}
ul,
li {
  list-style-type: none;
  display: inline-block;
}

ul {
  padding-left: 0px;
}
li {
  margin: 8px 16px;
}

a {
  text-decoration: none;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #fff;
}
.nav-link:before {
  content: "";
  position: absolute;
  height: 2px;
  background: #fff;
  bottom: -4px;
  right: 0;
  width: 0%;
  transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.nav-link:hover:before {
  left: 0;
  width: 100%;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -9;
  background-size: cover;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  z-index: -7;
}
#mouse-icon {
  width: 40px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, 0);
}

.slider {
  background: #151019;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}

.p-slider {
  background: #e31d65;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 0.5%;
  height: 100vh;
  transform: translateY(40%);
}
.o-slider {
  background: #fe4432;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 0.5%;
  height: 100vh;
  transform: translateY(40%);
}
.b-slider {
  background: #9fedd7;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 0.5%;
  height: 100vh;
  transform: translateY(40%);
}

/* START ABOUT PAGE */

.about-container {
  height: auto;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-gap: 20px;
  margin: 0;
  padding: 100px 0 100px 0;
}

.resume-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.jobs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jobs-container button {
  padding: 25px 50px;
  font-size: 1.2rem;
  margin: 0;
  border: 4px solid rgb(18, 23, 45, 0.5);
}

.jobs-container button:hover {
  background: #ffc12d;
}

#about-section {
  position: relative;
}

.portfolio-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.project-container {
  background: #9fedd7;
  height: 300px;
  width: 100%;
  max-width: 30%;
  margin: 25px 15px;
}

.project-container:hover {
  transform: translateY(-20px);
  transition: all ease 0.3s;
  filter: brightness(0.5);
  filter: drop-shadow(10px #000);
}

.project-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-container > ul,
li {
  list-style-type: circle;
  display: list-item;
}

.newblue {
  width: 70%;
  padding: 20px 40px;
  background: rgb(18, 23, 45, 0.5);
  display: block;
  transition: all ease 1s;
}

.freelance {
  width: 70%;
  padding: 40px 40px;
  background: rgb(18, 23, 45, 0.5);
  display: none;
  transition: all ease 1s;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.active-btn {
  background: rgb(18, 23, 45, 0.5);
}

.hero-img-backdrop {
  position: absolute;
  width: 650px;
  height: 600px;
  left: 80px;
  top: 180px;
  right: 80px;
  bottom: -80px;
  z-index: -5;
  display: block;
  background-image: url(./photos/PatternDot.svg);
  background-position: 0% 0%;
  background-size: 20px;
  opacity: 0;
}

.bio-background {
  position: absolute;
  background: #fe4432;
  width: 100%;
  height: 400px;
  left: 480px;
  top: 70px;
  right: 80px;
  bottom: -80px;
  z-index: -6;
}

.card {
  opacity: 0;
}

.about-img {
  width: 650px;
  grid-column: 1/2;
}

.hi {
  color: white;
  font-size: 4rem;
  margin: 0;
  line-height: 7rem;
}

.hi-line {
  line-height: 4rem;
}

.bio {
  font-size: 2rem;
  grid-column: 2/3;
  width: 80%;
  margin: 20px 0 0 0;
}

.float {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  width: 80%;
  z-index: 2;
}

.phone-slider {
  position: absolute;
  right: -600px;
  top: 60px;
  background: rgb(18, 23, 45, 0.5);
  border: 3px solid white;
  border-radius: 4px;
  font-size: 1.8rem;
  padding: 10px 180px 10px 80px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}

.email-slider {
  position: absolute;
  right: -600px;
  top: 60px;
  background: rgb(18, 23, 45, 0.5);
  border: 3px solid white;
  border-radius: 4px;
  font-size: 1.8rem;
  padding: 10px 180px 10px 80px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}

.slider-active {
  right: -20px;
}

/* END ABOUT PAGE */

/* MEDIA QUERIES */
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1191px) {
  .container {
    width: auto;
    margin: 3rem 2rem;
    grid-gap: 35px;
  }
}
@media screen and (max-width: 891px) {
  .panel-text {
    font-size: 1.25rem;
  }
  .section-title {
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  .resume-section-title {
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  .about-container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
  }
  .nav-menu {
    flex-direction: column;
    position: absolute;
    top: 100px;
    padding: 0;
    z-index: 999;
    background-color: black;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ffb7b7;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-link {
    font-size: 1.2rem;
    text-align: center;
    line-height: 30px;
    width: 100%;
    display: table;
  }
  .nav-link:hover {
    background-color: #ffb7b7;
    color: white;
    transition: all 0.4s ease-out;
  }
  .nav-link-btn {
    border: none;
    padding: 0;
    border-radius: 0;
    background: black;
    color: white;
    transition: all 0.4s ease-out;
  }

  .nav-link-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background: black;
    color: white;
    transition: all 0.4s ease-out;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(5%, 20%);
  }
  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #mouse-icon {
    bottom: 10%;
  }
  .about-container {
    width: 100%;
    position: relative;
    flex-direction: column;
    display: flex;
    padding: 0;
  }

  .about-container :nth-child(1) {
    order: 2;
  }
  .about-container :nth-child(3) {
    order: 1;
  }

  .float :nth-child(1) {
    order: 1;
  }
  .float :nth-child(2) {
    order: 2;
  }
  .float :nth-child(3) {
    order: 3;
  }

  .bio-background {
    display: none;
  }

  .hero-img-backdrop {
    display: none;
  }

  .float {
    text-align: center;
    background: var(--orange);
  }

  .hi {
    font-size: 2rem;
    line-height: 3rem;
  }

  .bio {
    width: 100%;
  }

  .about-img {
    width: 100%;
  }

  .portfolio-container {
    flex-direction: column;
  }

  .project-container {
    max-width: 100%;
    width: auto;
  }

  .jobs-container {
    flex-direction: column;
  }

  .newblue {
    width: 100%;
  }

  .freelance {
    width: 100%;
  }

  .hero-text {
    text-align: center;
    top: 40px;
  }

  .bg {
    height: 130%;
  }
  .hero {
    overflow: inherit;
  }

  .hero::after {
    background: none;
  }

  #mouse-icon {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .hero-title {
    font-size: 3rem;
  }
}
